@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}



.markdown-preview ul,
.markdown-preview ol {
  display: -webkit-inline-box;
  line-height: normal;
  margin: 6px 0 !important;
  padding-left: 0 !important;

}

.markdown-preview li {
  display: inline-block;
  margin: 4px 4px 4px 0; /* adjust as needed */
  padding: 0;
  line-height: normal;
}


.wmde-markdown h2{
  margin: 0 !important;
}
